.spacer {
	margin-top:60px;
}
body {
	padding-top:70px
}
.panel .panel-heading{
	background-color:#A2DFFD;
	text-align:center;
	
	
	
}
.panel .panel-body {
	background-color:#DDDDDD;
	
}
.error {
	color:red;
}
